$light-background-color: #ffffff;
$dark-background-color: #0a3d62;

* {
   box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $dark-background-color;
}

.app > h1 {
   text-align: center;
}

#editor {
   display: block;
   width: 80%;
   height: 300px;
   margin: 0 auto;
   background: $light-background-color;
}

.editor--header, .editor--preview {
   width: 80%;
   height: 40px;
   margin: 0 auto;
   background: grey;

   h2 {
      text-align: center;
   }
}

#preview {
   width: 80%;
   min-height: 300px;
   margin: 0 auto;
   border: 0.5px solid black;
   background: $light-background-color;
}

