body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#editor {
   display: block;
   width: 80%;
   height: 300px;
   margin: 20px auto;
}

#preview {
   width: 80%;
   min-height: 300px;
   margin: 20px auto;
   border: 0.5px solid black;
}

